@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root {
  /* colors */
  --color-primary-blue: hsl(246, 80%, 60%);
  --color-work: hsl(15, 100%, 70%);
  --color-play: hsl(195, 74%, 62%);
  --color-study: hsl(348, 100%, 68%);
  --color-exercise: hsl(145, 58%, 55%);
  --color-social: hsl(264, 64%, 52%);
  --color-self-care: hsl(43, 84%, 65%);
  --color-neutral-dark-blue: hsl(235, 46%, 20%);
  --color-neutral-darker-blue: hsl(226, 43%, 10%);
  --color-neutral-desaturated-blue: hsl(235, 45%, 61%);
  --color-neutral-pale-blue: hsl(236, 100%, 87%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background: var(--color-neutral-darker-blue);
  color: #fff;
  margin: 0;
  padding: 0;
}

.App {
  margin: 0 1em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

/* tablet */
@media (max-width: 800px) {
  .App {
    margin: 2em 1em;
  }
}

/* tablet */
@media (max-width: 470px) {
}
